.basket {
    padding-top: 5px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    min-height: calc(80vh - 126px);


    &__items {
        list-style-type: none;
        width: 60%;
        padding: 0;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 5px 0;
        padding-bottom: 5px;
        border-bottom: 1px solid rgba(122, 122, 122, 0.253);


        img {
            margin-right: 10px;
            // box-shadow: rgba(0, 0, 0, 1) 0px 12px 24px;
        }
    }

    &__name {
        margin-right: auto;
    }

    &__btn {
        width: 26px;
        height: 26px;
        border-radius: 90%;
        border: 1px solid grey;
        line-height: 19px;
    }

    &__quantity {
        display: inline-block;
        text-align: center;
        width: 20px;
        margin: 0 10px;
    }

    &__counter {
        display: flex;
        justify-content: space-around;
        width: 90px;
        margin-right: 40px;
    }

    &__toOrder {
        padding: 20px;
        border: 1px solid rgba(49, 49, 49, 0.418);
        width: 30%;
        height: 100%;
        box-shadow: 0 4px 16px rgba(6, 10, 13, .06), 0 1px 4px rgba(6, 10, 13, .08);
        border-radius: 12px;

        span {
            display: block;
        }

        &_underline {
            background-color: rgba(122, 122, 122, 0.418);
            width: 100%;
            height: 1px;
            margin: 5px 0 10px 0;
        }

        h6 {
            font-size: 18px;
        }

        &__total,
        &__goods,
        &__delivery {
            display: flex;
            justify-content: space-between;
        }

        &__total {
            font-size: 14px;

            span {
                font-size: 16px;
                font-weight: 500;
            }
        }

        &__goods,
        &__delivery,
        &__deliveryLabel,
        &__deliverySelect {



            font-size: 14px;

            span {
                font-size: 14px;
            }
        }

        &__deliverySelect {
            margin-top: 5px;
            background-color: #fff;
            border: 1px solid #6f6f6f;
            cursor: pointer;
            border-radius: 5px;
        }

        &__deliveryChoise {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__deliveryComment {
            margin-top: 10px;
            color: #a0a1a3;
            font-size: 12px;
            line-height: 15px;
        }

        &__deliveryBtn {
            display: block;
            margin: 20px auto 0 auto;
            color: white;
            background-color: rgb(100, 149, 237);
            border: none;
            font-size: 14px;
            font-weight: 500;
            border-radius: 5px;
            width: 100%;
            height: 48px;
            transition: .3s all;

            &:hover {
                background-color: rgba(100, 148, 237, 0.808);
                transition: .3s all;
            }
        }

        &__deliveryMessage {
            margin-top: 5px;
            color: red;
            font-size: 12px;
        }
    }

}