@import "../App.scss";

.goods {
    position: relative;
    max-width: 1320px;
    margin: 0 auto;
    padding: 5px 3px 0 3px;
    min-height: 300px;

    &__list {
        display: grid;

        grid-template-columns: repeat(6, 196px);

        grid-template-rows: repeat(minmax(2, 12), 394px);
        row-gap: 15px;
        column-gap: 25px;
        padding: 20px 0px;
    }


    &__card {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 12px 24px;
        width: 196px;
        height: 394px;
    }

    &__sale {
        position: absolute;
        left: -25px;
        top: 0;
        width: 100px;
        height: 50px;
        animation: sale 1.5s ease-in-out infinite;
    }

    &__body {
        padding: 10px;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 40px 60px 33px 38px;

    }

    &__img {
        width: 100%;
        height: 196px;
        object-fit: cover;
        padding: 10px;
    }

    &__title {
        font-size: 15px;
        font-weight: 600;
        hyphens: auto;
    }

    &__text {
        font-size: 13px;
        color: rgba(0, 0, 0, 0.61);
        margin: 0px;
        max-height: 60px;
        line-height: 16px;
        hyphens: auto;
    }

    &__price {
        margin: 5px 0;
        font-size: 15px;
        color: rgb(247, 9, 9);
        font-weight: 600;
    }

    &__btn {
        font-size: 15px;
        background-color: $main_color;
        border: none;
        color: white;
        transition: .3s all;
        border-radius: 5px;

        &:hover {
            background-color: $main_color_dark;
            transition: .3s all;
        }
    }
    &__message {
        padding-left: 5px;
        padding-right: 5px;
        a {
            text-decoration: none;
            cursor: pointer;
            color: $main_color;
        }
        margin-top: 20px;
    }


    &__pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }
}

@keyframes sale {
    0%, 100% {
     transform: scale(1.1);
    }
    50% {
     transform: scale(1);
    }
   } 

@media(max-width: 1300px) {
    .goods {

        &__list {
            grid-template-columns: repeat(4, 196px);
            // grid-template-rows: repeat(3, 394px);
        }
    }
}

@media(max-width: 1180px) {
    // .goods {
    //     &__list {
    //         grid-template-columns: repeat(4, 196px);
    //         grid-template-rows: repeat(3, 394px);
    //     }
    // }
}

@media(max-width: 992px) {
    .goods {

        &__list {
            grid-template-columns: repeat(3, 196px);
            // grid-template-rows: repeat(4, 394px);
        }
    }
}

@media(max-width: 768px) {
    .goods {

        &__list {
            grid-template-columns: repeat(2, 196px);
            // grid-template-rows: repeat(6, 394px);
        }
    }

    .main {
        &__presentation {
            height: 236px;
        }

        &__descr {
            padding: 30px 10px;
            font-size: 16px;
        }
    }


}

@media(max-width: 576px) {}

@media(max-width: 429px) {
    .goods {

        &__list {
            column-gap: 5px;
            // grid-template-columns: repeat(1, 196px);
            // // grid-template-rows: repeat(6, 394px);
            // justify-content: center;
        }

    }
}

@media(max-width: 391px) {
    .goods {

        &__card {
            width: 180px;
        }

        &__list {
            grid-template-columns: repeat(2, 180px);
            column-gap: 3px;
        }

    }


}