.personal {
    width: 30%;
    min-height: calc(80vh - 126px);
    // margin: 0 auto;
    padding-bottom: 20px;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    // align-items: center;




    span {
        display: inline;
        font-size: 16px;
        line-height: 13px;
        height: 30px;
    }



    input {
        display: inline;
        padding-left: 5px;
        width: 100%;
        height: 30px;
        margin: 10px 0;
        font-size: 16px;
        background-color: #fff;
        border: 1px solid #6f6f6f;
        cursor: pointer;
        border-radius: 5px;
        font-weight: 500;


    }

}

@media(max-width: 1300px) {}

@media(max-width: 1180px) {
    .personal {

        width: 40%;
        margin: 10px 0;

    }
}

@media(max-width: 992px) {
    .personal {

        width: 50%;

    }
}

@media(max-width: 768px) {
    .personal {

        width: 70%;


        &__title {
            text-align: center;
        }
    }
}

@media(max-width: 576px) {
    .personal {

        min-height: calc(70vh - 126px);


        width: 100%;

    }
}

@media(max-width: 429px) {}

@media(max-width: 391px) {}