.footer {
    border-top: 1px solid grey;
    min-height: 70px;
    font-size: 15px;
    padding: 10px 152px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: flex-end;

    &__descr {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-link {
            margin: 0 15px;
            display: block;
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
    }

    &__link {
        display: block;
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
    &__req {
        max-width: 35%;
        padding: 10px 0;
        font-size: 13px;
        line-height: 17px;
    }
}

@media(max-width: 1300px) {
    .footer {
        padding: 0 102px;
    }
}

@media(max-width: 1180px) {
    .footer {
        padding: 0 42px;
    }
}

@media(max-width: 992px) {
    .footer {
        padding: 0 22px;
    }
}

@media(max-width: 768px) {
    .footer {
        height: auto;
        padding: 20px 20px;
        flex-direction: column-reverse;

        &__link,
        &__req {
            padding-top: 20px;
            padding-bottom: 20px;
            max-width: 100%;
            text-align: center;
        }

        &__descr {
            &-link {
                margin: 0 8px;
            }
        }

    }
}

@media(max-width: 576px) {
    .footer {
        padding: 10px 10px;

        &__descr {
            &-link,
            &__req {
                margin: 0 5px;
            }
        }
    }
}

@media(max-width: 429px) {
    .footer {
        padding: 0 7px;

        &__descr {
            flex-direction: column;

            &-link,
            &__req {
                margin: 0 2px;
                padding-top: 10px;
                padding-bottom: 0px;
            }
        }

        &__link,
        &__req {
            padding: 20px 0;
            margin: 0 10px;
            font-size: 13px;
        }
    }
}

@media(max-width: 391px) {}